In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df=pd.read_csv("semnan.csv", low_memory=False)
df

,ID,Uniquecode,SenderName,senderPcode,SenderAddress,SenderMobile,ReceiverMobile,ReceiverName,ReceiverAddress,receiverPcode,...,LContractID,ServiceType,ReceiptDate,ReceiptTime,CreateDate,senderSSN,receiverSSN,PostNodeCode,EState,CityName
0,13607966,43149033811401686544,اعواني,3515894931,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,NaN,NaN,حسن زاده,استان ---- -پلاک 0-,3381787878,...,0,13,1395/03/13,10:00:52,2016-06-02 10:01:55.560,4569512763,,43149,Semnan,Semnan
1,13608231,43149000911401686629,عبدالهي,3515894931,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,NaN,NaN,عنبريان,استان ---- -پلاک 0-,9196891966,...,0,13,1395/03/13,10:02:37,2016-06-02 10:03:39.973,4569512763,,43149,Semnan,Semnan
2,13609688,43149000011401686707,کاني ارا,3515894931,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,NaN,NaN,پرسال,استان ---- -پلاک 0-,1573636519,...,0,13,1395/03/13,10:09:45,2016-06-02 10:10:48.303,4569512763,,43149,Semnan,Semnan
3,13586540,43149000011201684792,زحمتکش,3515894931,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,NaN,NaN,داستاني,استان تهران-شهر تهران-ميدان امام خميني-خيابان ...,1144934149,...,0,11,1395/03/13,08:08:27,2016-06-02 08:09:30.233,4569512763,,43149,Semnan,Semnan
4,13587975,43149003512200040144,تعاون روستايي,3515894931,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,NaN,NaN,بانک مسکن,استان سمنان-شهر سمنان-ميدان امام رضا-ميدان پير...,3515894931,...,0,23,1395/03/13,08:18:08,2016-06-02 08:19:10.700,4569512763,,43149,Semnan,Semnan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660516,26671806,43227003513300442575,تامين اجتماعي,3618698617,شاهرود,NaN,NaN,تامين اجتماعي اداره کل,سمنان,3514655699,...,0,21,1395/08/19,10:22:54,2016-11-09 10:23:17.047,5209318699,5209318699,43227,Semnan,Shahrood
660517,26671807,43227003513300442680,تامين اجتماعي,3618698617,شاهرود,NaN,NaN,تامين اجتماعي,سمنان,3514655699,...,0,21,1395/08/19,10:22:54,2016-11-09 10:23:17.100,5209318699,5209318699,43227,Semnan,Shahrood
660518,26737159,43227003611300368705,بانک پارسيان,3616688133,شاهرود,NaN,NaN,حسن زماني,شاهرود,3615653164,...,0,13,1395/08/19,13:16:27,2016-11-09 13:16:50.703,5209318699,5209318699,43227,Semnan,Shahrood
660519,26737475,43227003611300368810,بانک پارسيان,3616688133,شاهرود,NaN,NaN,مسعود اخياني,شاهرود,3615653164,...,0,13,1395/08/19,13:17:37,2016-11-09 13:18:00.603,5209318699,5209318699,43227,Semnan,Shahrood
660520,26738129,43227003611300368914,بانک پارسيان,3616688133,شاهرود,NaN,NaN,راحله رستمي,شاهرود,3615653164,...,0,13,1395/08/19,13:19:53,2016-11-09 13:20:16.597,5209318699,5209318699,43227,Semnan,Shahrood

In [3]:
df.replace('          ','',inplace=True)
df.replace(np.nan,'',inplace=True)

# Extracting information from various columns

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660521 entries, 0 to 660520
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID               660521 non-null  int64
 1   Uniquecode       660521 non-null  object
 2   SenderName       660521 non-null  object
 3   senderPcode      660521 non-null  object
 4   SenderAddress    660521 non-null  object
 5   SenderMobile     660521 non-null  object
 6   ReceiverMobile   660521 non-null  object
 7   ReceiverName     660521 non-null  object
 8   ReceiverAddress  660521 non-null  object
 9   receiverPcode    660521 non-null  object
 10  DestType         660521 non-null  int64
 11  SourceCode       660521 non-null  int64
 12  DestCode         660521 non-null  int64
 13  GContractID      660521 non-null  int64
 14  LContractID      660521 non-null  int64
 15  ServiceType      660521 non-null  int64
 16  ReceiptDate      660521 non-null  object
 17  ReceiptTime      660521 non-null  object
 18  CreateDate       660521 non-null  object
 19  senderSSN        660521 non-null  object
 20  receiverSSN      660521 non-null  object
 21  PostNodeCode     660521 non-null  int64
 22  EState           660521 non-null  object
 23  CityName         660521 non-null  object
dtypes: int64(8), object(16)
memory usage: 120.9+ MB

In [5]:
#df.describe()

In [6]:
df['CityName'].describe()

count     660521
unique        20
top       Semnan
freq      360267
Name: CityName, dtype: object

In [7]:
#df.mode()

# Data Validation (Validating the data values of each column)

In [8]:
df.ID.is_unique

True

In [9]:
df.Uniquecode.is_unique

True

In [10]:
df.CityName.value_counts()

Semnan         360267
Shahrood       122705
Damghan         64091
Garmsar         44954
Eyvanky         22491
Mahdishahr      18777
Bastam           7107
Sorkhe           6167
Miyami           5282
Amiriye          1959
Aradan           1930
Shahmizad        1765
Biyarjmand       1337
Dibaj            1049
Majan             268
Kalate khij       184
Nardin             99
Darjzin            32
Keyrabad           30
Kohanabad          27
Name: CityName, dtype: int64

In [11]:
#The valid values for a mobile number should consist of 10 digits and start with 9 in this dataset
d=df[df['ReceiverMobile']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['ReceiverMobile'][i].isnumeric()) and (len(str(int(d['ReceiverMobile'][i])))==10) :
        
        if (str(int(d['ReceiverMobile'][i]))[0]=='9'):
            t=t+1
        else:
            list_.append(d['ID'][i])
            f=f+1
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['ReceiverMobile'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

32934 is true and  20 is false

In [12]:
#The valid values for a mobile number should consist of 10 digits and start with 9 in this dataset
d=df[df['SenderMobile']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['SenderMobile'][i].isnumeric()) and (len(str(int(d['SenderMobile'][i])))==10) :
        
        if (str(int(d['SenderMobile'][i]))[0]=='9'):
            t=t+1
        else:
            list_.append(d['ID'][i])
            f=f+1
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['SenderMobile'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

42718 is true and  27 is false

In [13]:
#The valid values for a Pcode should consist of 10 digits in this dataset
d=df[df['senderPcode']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['senderPcode'][i].isnumeric()) and (len(str(int(d['senderPcode'][i])))==10) :
        t=t+1
        
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['senderPcode'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

653283 is true and  331 is false

In [14]:
#The valid values for a Pcode should consist of 10 digits in this dataset
d=df[df['receiverPcode']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['receiverPcode'][i].isnumeric()) and (len(str(int(d['receiverPcode'][i])))==10) :
        t=t+1
        
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['receiverPcode'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

632101 is true and  629 is false

In [15]:
#The valid values for a SSN should consist of 10 digits in this dataset
d=df[df['senderSSN']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['senderSSN'][i].isnumeric()) and (len(str(int(d['senderSSN'][i])))==10) :
        t=t+1
        
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['senderSSN'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

606035 is true and  42637 is false

In [16]:
#The valid values for a SSN should consist of 10 digits in this dataset
d=df[df['receiverSSN']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
list_ = []

for i in range(len(d)):
    if (d['receiverSSN'][i].isnumeric()) and (len(str(int(d['receiverSSN'][i])))==10) :
        t=t+1
        
    else: 
        list_.append(d['ID'][i])
        f=f+1
        
df['receiverSSN'].loc[df['ID'].isin(list_)] = ''
print(t,"is true and ",f,"is false")

560753 is true and  40870 is false

In [17]:
#The valid values for a Date should be between 1395/1/1 and 1395/12/29 in this dataset
import datetime

def isDateFormat(q,w,e):
    
    if((q==1395) & (0<w<7) & (0<e<32)):
        return 1
    elif((q==1395) & (6<w<12) & (0<e<31)):
        return 1
    elif((q==1395) & (w==12) & (0<e<30)):
        return 1
    else: return 0
        
        

d=df[df['ReceiptDate']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
for i in range(len(d)):
    o=d['ReceiptDate'][i].split('/')
    
    q=int(o[0])
    w=int(o[1])
    e=int(o[2])
    
    b=isDateFormat(q,w,e)
    
    if(b==1):
        t=t+1
    else: f=f+1
        
        
        
print(t,"is true and ",f,"is false")

660521 is true and  0 is false

In [18]:
import time

def isTimeFormat(input):
    try:
        time.strptime(input,'%H:%M:%S')
        return 1
    except ValueError:
        return 0
    
    

d=df[df['ReceiptTime']!='']
d.reset_index(inplace=True , drop=True)

t=0
f=0
for i in range(len(d)):
    
    g=isTimeFormat(d['ReceiptTime'][i])
    
    if(g==1):
        t=t+1
    else: f=f+1

print(t,"is true and ",f,"is false")

660521 is true and  0 is false

In [19]:
import datetime
import time

def isTimeFormat(input):
    try:
        time.strptime(input,'%H:%M:%S')
        return 1
    except ValueError:
        return 0
    
def isDateFormat(input):
    try:
        datetime.datetime.strptime(input,'%Y-%m-%d')
        return 1
    except ValueError:
        return 0
    

d=df['CreateDate'][df['CreateDate']!='']
t=0
f=0
for i in d:
    a=i.split()
    b=isDateFormat(a[0])
    c=a[1]
    c=c.split('.')
    g=isTimeFormat(c[0])
    
    if(b==1 & g==1):
        t=t+1
    else: f=f+1
        
print(t,"is true and ",f,"is false")

660521 is true and  0 is false

In [20]:
#The valid values for EState should be Semnan in this dataset

df.EState.value_counts()

Semnan    660521
Name: EState, dtype: int64

# Completeness Checking

In [21]:
df.replace('',np.nan,inplace=True)

In [22]:
# calculating Completeness for each column
for i in df.columns:
    A = df[i].notnull().sum()
    B = len(df[i])
    completeness=A/B
    
    print(i,'------>',completeness)

ID ------> 1.0
Uniquecode ------> 1.0
SenderName ------> 0.9999969720871857
senderPcode ------> 0.9890419835251264
SenderAddress ------> 1.0
SenderMobile ------> 0.06467318980017289
ReceiverMobile ------> 0.04986064031272284
ReceiverName ------> 0.9999984860435929
ReceiverAddress ------> 0.9999984860435929
receiverPcode ------> 0.9569733589091036
DestType ------> 1.0
SourceCode ------> 1.0
DestCode ------> 1.0
GContractID ------> 1.0
LContractID ------> 1.0
ServiceType ------> 1.0
ReceiptDate ------> 1.0
ReceiptTime ------> 1.0
CreateDate ------> 1.0
senderSSN ------> 0.9175105712006129
receiverSSN ------> 0.848955597172535
PostNodeCode ------> 1.0
EState ------> 1.0
CityName ------> 1.0

In [23]:
# calculating Completeness for dataset
for i in df.columns:
    A=A+df[i].notnull().sum()
    B=B+df[i].isnull().sum()+df[i].notnull().sum()

completeness=A/B
print('completeness ------>',completeness)

completeness ------> 0.9130803714037858

# Cleaning Empty Cells

In [24]:
df['senderPcode'].fillna(3600000000, inplace = True)

In [25]:
#df.dropna(inplace = True)

In [26]:
#filling the NaN's with first value of group

df['senderSSN'] = df['senderSSN'].fillna(df.groupby('SenderName')['senderSSN'].transform('first'))
df['receiverSSN'] = df['receiverSSN'].fillna(df.groupby('ReceiverName')['receiverSSN'].transform('first'))
df['SenderMobile'] = df['SenderMobile'].fillna(df.groupby('SenderName')['SenderMobile'].transform('first'))
df['ReceiverMobile'] = df['ReceiverMobile'].fillna(df.groupby('ReceiverName')['ReceiverMobile'].transform('first'))

# Removing Duplicate Rows

In [27]:
df.drop_duplicates(inplace=True)

# Removing Unnecessary Columns

In [28]:
drop_columns = ['Uniquecode','SenderName','EState','SenderMobile','ReceiverMobile','ReceiverName','SenderAddress','ReceiverAddress']
df.drop(drop_columns, inplace=True, axis=1)

In [31]:
df.dropna(inplace = True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583727 entries, 0 to 660520
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             583727 non-null  int64
 1   senderPcode    583727 non-null  object
 2   receiverPcode  583727 non-null  object
 3   DestType       583727 non-null  int64
 4   SourceCode     583727 non-null  int64
 5   DestCode       583727 non-null  int64
 6   GContractID    583727 non-null  int64
 7   LContractID    583727 non-null  int64
 8   ServiceType    583727 non-null  int64
 9   ReceiptDate    583727 non-null  object
 10  ReceiptTime    583727 non-null  object
 11  CreateDate     583727 non-null  object
 12  senderSSN      583727 non-null  object
 13  receiverSSN    583727 non-null  object
 14  PostNodeCode   583727 non-null  int64
 15  CityName       583727 non-null  object
dtypes: int64(8), object(8)
memory usage: 75.7+ MB